wildflyImix/wrappers/TransactionalWrapper/imix/txwrapper/settings/main/df/schema1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="error">
    <xs:sequence>
      <xs:element name="errorDesc" type="xs:string" minOccurs="0"/>
      <xs:element name="errorNo" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="account">
    <xs:sequence>
      <xs:element name="balance" type="xs:double"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="number" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="bill">
    <xs:sequence>
      <xs:element name="dueDate" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="error" type="error" minOccurs="0"/>
      <xs:element name="operator" type="xs:int"/>
      <xs:element name="operatorId" type="xs:int"/>
      <xs:element name="paymentReference" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="collect">
    <xs:sequence>
      <xs:element name="bankName" type="xs:string" minOccurs="0"/>
      <xs:element name="date" type="xs:string" minOccurs="0"/>
      <xs:element name="error" type="error" minOccurs="0"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="number" type="xs:string" minOccurs="0"/>
      <xs:element name="salesman" type="xs:string" minOccurs="0"/>
      <xs:element name="value" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="dealerAccount">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="value" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="device">
    <xs:sequence>
      <xs:element name="deviceTypeId" type="xs:int"/>
      <xs:element name="deviceTypeName" type="xs:string" minOccurs="0"/>
      <xs:element name="error" type="error" minOccurs="0"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="pointOfSaleId" type="xs:int"/>
      <xs:element name="serial" type="xs:string" minOccurs="0"/>
      <xs:element name="serialNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="state" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="entity">
    <xs:sequence>
      <xs:element name="address" type="xs:string" minOccurs="0"/>
      <xs:element name="balance" type="xs:string" minOccurs="0"/>
      <xs:element name="dealerId" type="xs:string" minOccurs="0"/>
      <xs:element name="error" type="error" minOccurs="0"/>
      <xs:element name="fax" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="infoPoint" type="infoPointOfSale" minOccurs="0"/>
      <xs:element name="limitCredit" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="numberId" type="xs:string" minOccurs="0"/>
      <xs:element name="phone" type="xs:string" minOccurs="0"/>
      <xs:element name="salesman" type="salesman" minOccurs="0"/>
      <xs:element name="state" type="xs:int"/>
      <xs:element name="typeIdentificationId" type="xs:int"/>
      <xs:element name="zone" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="infoPointOfSale">
    <xs:sequence>
      <xs:element name="activationDate" type="xs:string" minOccurs="0"/>
      <xs:element name="antiquity" type="xs:string" minOccurs="0"/>
      <xs:element name="cityId" type="xs:string" minOccurs="0"/>
      <xs:element name="closeTime" type="xs:string" minOccurs="0"/>
      <xs:element name="createDate" type="xs:string" minOccurs="0"/>
      <xs:element name="dealerCode" type="xs:string" minOccurs="0"/>
      <xs:element name="departamentId" type="xs:string" minOccurs="0"/>
      <xs:element name="employeesEducationLevel" type="xs:string" minOccurs="0"/>
      <xs:element name="isOwner" type="xs:string" minOccurs="0"/>
      <xs:element name="kindLocationId" type="xs:string" minOccurs="0"/>
      <xs:element name="kindPathId" type="xs:string" minOccurs="0"/>
      <xs:element name="kindPosId" type="xs:string" minOccurs="0"/>
      <xs:element name="kindZoneId" type="xs:string" minOccurs="0"/>
      <xs:element name="laboralDays" type="xs:string" minOccurs="0"/>
      <xs:element name="modulo" type="xs:string" minOccurs="0"/>
      <xs:element name="neighBorhood" type="xs:string" minOccurs="0"/>
      <xs:element name="numEmployees" type="xs:string" minOccurs="0"/>
      <xs:element name="openTime" type="xs:string" minOccurs="0"/>
      <xs:element name="otherKindLocation" type="xs:string" minOccurs="0"/>
      <xs:element name="otherKindPos" type="xs:string" minOccurs="0"/>
      <xs:element name="otherKindZone" type="xs:string" minOccurs="0"/>
      <xs:element name="salesmanId" type="xs:string" minOccurs="0"/>
      <xs:element name="salesmanName" type="xs:string" minOccurs="0"/>
      <xs:element name="segment" type="xs:string" minOccurs="0"/>
      <xs:element name="stratum" type="xs:string" minOccurs="0"/>
      <xs:element name="uniqueMovistarCode" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="salesman">
    <xs:sequence>
      <xs:element name="address" type="xs:string" minOccurs="0"/>
      <xs:element name="balance" type="xs:string" minOccurs="0"/>
      <xs:element name="cell" type="xs:string" minOccurs="0"/>
      <xs:element name="dealerId" type="xs:string" minOccurs="0"/>
      <xs:element name="dealerName" type="xs:string" minOccurs="0"/>
      <xs:element name="error" type="error" minOccurs="0"/>
      <xs:element name="lastName" type="xs:string" minOccurs="0"/>
      <xs:element name="login" type="xs:string" minOccurs="0"/>
      <xs:element name="numberId" type="xs:string" minOccurs="0"/>
      <xs:element name="phone" type="xs:string" minOccurs="0"/>
      <xs:element name="refExt" type="xs:string" minOccurs="0"/>
      <xs:element name="sellerType" type="xs:string" minOccurs="0"/>
      <xs:element name="subRegDescription" type="xs:string" minOccurs="0"/>
      <xs:element name="subRegId" type="xs:int"/>
      <xs:element name="tercId" type="xs:int"/>
      <xs:element name="userName" type="xs:string" minOccurs="0"/>
      <xs:element name="userType" type="xs:string" minOccurs="0"/>
      <xs:element name="zonaDescription" type="xs:string" minOccurs="0"/>
      <xs:element name="zonaId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ireversion">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
      <xs:element name="userId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="node">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
   <xs:complexType name="nodeString">
    <xs:sequence>
      <xs:element name="id" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="operator">
    <xs:sequence>
      <xs:element name="error" type="error" minOccurs="0"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="maxValue" type="xs:double"/>
      <xs:element name="minValue" type="xs:double"/>
      <xs:element name="multiple" type="xs:int"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="regexp" type="xs:string" minOccurs="0"/>
      <xs:element name="state" type="xs:int"/>
      <xs:element name="eanCode" type="xs:string" minOccurs="0"/>
      <xs:element name="accountLen" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pin">
    <xs:sequence>
      <xs:element name="error" type="error" minOccurs="0"/>
      <xs:element name="pin" type="xs:string" minOccurs="0"/>
      <xs:element name="serial" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
    <xs:complexType name="references">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
      <xs:element name="checkDigit" type="xs:string" minOccurs="0"/>
      <xs:element name="parcial" type="xs:boolean" />
      <xs:element name="photo" type="xs:string" minOccurs="0"/>
      <xs:element name="value" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="posAccount">
    <xs:sequence>
      <xs:element name="dealerId" type="xs:int"/>
      <xs:element name="email" type="xs:string" minOccurs="0"/>
      <xs:element name="error" type="error" minOccurs="0"/>
      <xs:element name="passwordExpiration" type="xs:string" minOccurs="0"/>
      <xs:element name="pointID" type="xs:int"/>
      <xs:element name="pointName" type="xs:string" minOccurs="0"/>
      <xs:element name="pointState" type="xs:int"/>
      <xs:element name="userId" type="xs:int"/>
      <xs:element name="userName" type="xs:string" minOccurs="0"/>
      <xs:element name="userState" type="xs:int"/>
      <xs:element name="webEnabled" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="product">
    <xs:sequence>
      <xs:element name="error" type="error" minOccurs="0"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="quoteSaleTransaction">
    <xs:sequence>
      <xs:element name="balance" type="xs:double"/>
      <xs:element name="date" type="xs:string" minOccurs="0"/>
      <xs:element name="destinity" type="xs:string" minOccurs="0"/>
      <xs:element name="error" type="error" minOccurs="0"/>
      <xs:element name="pointOfSale" type="xs:string" minOccurs="0"/>
      <xs:element name="salesMan" type="xs:string" minOccurs="0"/>
      <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reload">
    <xs:sequence>
      <xs:element name="answer" type="xs:string" minOccurs="0"/>
      <xs:element name="authorization" type="xs:string" minOccurs="0"/>
      <xs:element name="dateTransaction" type="xs:string" minOccurs="0"/>
      <xs:element name="error" type="error" minOccurs="0"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="number" type="xs:string" minOccurs="0"/>
      <xs:element name="operator" type="xs:string" minOccurs="0"/>
      <xs:element name="state" type="xs:string" minOccurs="0"/>
      <xs:element name="values" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="reloadQuota">
    <xs:sequence>
      <xs:element name="reloadAnswer" type="xs:string" minOccurs="0"/>
      <xs:element name="reloadAuthorization" type="xs:string" minOccurs="0"/>
      <xs:element name="reloadDate" type="xs:string" minOccurs="0"/>
      <xs:element name="reloadId" type="xs:int"/>
      <xs:element name="reloadOperator" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="transaction">
    <xs:sequence>
      <xs:element name="answerCode" type="xs:string" minOccurs="0"/>
      <xs:element name="balance" type="xs:string" minOccurs="0"/>
      <xs:element name="date" type="xs:string" minOccurs="0"/>
      <xs:element name="destiny" type="xs:string" minOccurs="0"/>
      <xs:element name="error" type="error" minOccurs="0"/>
      <xs:element name="messageId" type="xs:string" minOccurs="0"/>
      <xs:element name="newBalanceCustomer" type="xs:string" minOccurs="0"/>
      <xs:element name="newBalanceSalesMan" type="xs:string" minOccurs="0"/>
      <xs:element name="priorBalanceCustomer" type="xs:string" minOccurs="0"/>
      <xs:element name="priorBalanceSalesMan" type="xs:string" minOccurs="0"/>
      <xs:element name="profit" type="xs:string" minOccurs="0"/>
      <xs:element name="transactionId" type="xs:string" minOccurs="0"/>
      <xs:element name="billNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="dueDate" type="xs:string" minOccurs="0"/>
      <xs:element name="resolution" type="xs:string" minOccurs="0"/>
      <xs:element name="pinCode" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="user">
    <xs:sequence>
      <xs:element name="address" type="xs:string" minOccurs="0"/>
      <xs:element name="dealerId" type="xs:int"/>
      <xs:element name="email" type="xs:string" minOccurs="0"/>
      <xs:element name="error" type="error" minOccurs="0"/>
      <xs:element name="expirationDate" type="xs:string" minOccurs="0"/>
      <xs:element name="fax" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="identification" type="xs:string" minOccurs="0"/>
      <xs:element name="lastName" type="xs:string" minOccurs="0"/>
      <xs:element name="login" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="password" type="xs:string" minOccurs="0"/>
      <xs:element name="passwordWebState" type="xs:int"/>
      <xs:element name="phone" type="xs:string" minOccurs="0"/>
      <xs:element name="pinState" type="xs:int"/>
      <xs:element name="pointOfSaleId" type="xs:int"/>
      <xs:element name="state" type="xs:string" minOccurs="0"/>
      <xs:element name="tercId" type="xs:int"/>
      <xs:element name="userType" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

   <xs:complexType name="bank">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="maxValue" type="xs:double"/>
      <xs:element name="minValue" type="xs:double"/>
      <xs:element name="refExt" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>  
</xs:schema>

